{:name "webly-spa"
 :lazy-sci false
 :cljs-namespace [webly.app.app]

 :theme {:available {:webly-dialog {true ["webly/dialog.css"]
                                    false []}}
         :current {:webly-dialog true}}}