{:name "webly-spa"
 :lazy false
 :cljs-namespace [webly.spa
                  webly.spa.env
                  webly.spa.resolve]
 :cljs-ns-bindings {'webly.spa {'start webly.spa/start}
                    'webly.spa.env {'get-mode  webly.spa.env/get-mode
                                    'get-resource-path webly.spa.env/get-resource-path
                                    'get-routing-path webly.spa.env/get-routing-path}
                    'webly.spa.resolve {'get-resolver webly.spa.resolve/get-resolver
                                        'set-resolver! webly.spa.resolve/set-resolver!}}
 ; runtime
 :dev-page {"config" webly.spa.devtools.config/config-page
            "bundle" webly.spa.devtools.bundle/bundle-page}}