{:paths ["src"
         "resources"  ; dialog css
         ]
 :deps {akiroz.re-frame/storage {:mvn/version "0.1.4"} ; localstorage 
      
        com.cemerick/url {:mvn/version "0.1.1"}  ; url query-strings
        org.pinkgorilla/ui-bidi {:mvn/version "0.0.18"}
        org.pinkgorilla/ui-dialog-keybindings {:mvn/version "0.0.2"}
;
        }}
