{:webly {; routes
         ; routes can be a map or a symbol.
         ; if you do lots of merging of routes, you might prefer a symbol
         :routes demo.routes/routes

         ; clj
         :ns-clj [demo.app]
         :start-service demo.time/start-time-sender!
         ; cljs
         :ns-cljs [demo.app]
         :modules {:snippets [snippets.snip]
                   :hello [snippets.hello
                           snippets.bye]}
         :title "Webly Demo"
         :start-user-app [:demo/start]
         :theme {:available {:emoji {true ["@icon/fontisto-emoji/fontisto-emoji.css"]
                                     false []} }
                 :current {:emoji    false}}}

 
 :static-main-path "/webly" ; for static-page build (github pages)

 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.

 :timbre/cljs {:min-level [[#{"org.eclipse.jetty.*"} :info]
                           [#{"modular.ws.*"} :info]
                           [#{"webly.user.*"} :info]
                           [#{"webly.*"} :info]
                           [#{"*"} :info]]}

 :settings {:use-localstorage  true  ; allow user to change settings via localstorage
            :bongo 777}

 :keybindings  [; https://github.com/piranha/keybind
                ; shift, ctrl, alt, win, cmd, defmod, "left" "right"
                ; "meta-shift-l" "alt-shift-p" "ctrl-shift-left" "ctrl-shift-right"
                {:kb "esc"     :handler [:modal/close]            :desc "Dialog Close"} ; for ALL dialogs!
                {:kb "alt-g t" :handler [:reframe10x-toggle] :desc "10x visibility toggle"}

                {:kb "alt-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
                {:kb "ctrl-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
                {:kb "win-g k" :handler [:palette/show]           :desc "Keybindings dialog"}

                {:kb "alt-g 1" :handler [:bidi/goto :demo/main] :desc "goto main"}
                {:kb "alt-g 2" :handler [:bidi/goto :demo/party :location "Vienna"] :desc "goto party vienna"}
                {:kb "alt-g 3" :handler [:bidi/goto :demo/help] :desc "goto help"}
                {:kb "alt-g 4" :handler [:bidi/goto :demo/job] :desc "goto job"}
                {:kb "alt-g 5" :handler [:bidi/goto :demo/party :location "Bali" :query-params {:expected-guests 299}] :desc "goto party bali"}
                {:kb "alt-y l" :handler [:login/dialog ] :desc "login"}
                {:kb "ctrl-y l" :handler [:login/dialog ] :desc "login"}
                {:kb "win-y l" :handler [:login/dialog ] :desc "login"}
                {:kb "win-z l" :handler [:login/dialog ] :desc "login"}
                ]


 :permission {:default nil
              :service {:time/now-date #{} ; only logged in users can access this service
                        }}

 :users {:demo {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}
         :florian {:roles #{:logistic}
                   :password "xxxxxxxx" 
                   :email ["hoertlehner@gmail.com"]}
         :john {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}}
                
;                
}