{:paths ["src"
         "resources"
         "target/node_modules"  ; css png resources from npm modules (tailwind)
         ]
 :deps {org.pinkgorilla/webly {:local/root "../webly" :deps/manifest :deps}
        org.slf4j/slf4j-nop {:mvn/version "1.7.32"}
        org.pinkgorilla/ui-repl {:mvn/version "0.0.34"} ; http cors test
        }
 :aliases
 {:test {:extra-paths ["test"
                       "test/resources"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}
                      ring/ring-mock {:mvn/version "0.4.0"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :ci {:extra-paths ["test"
                     "test/resources"]
       :exec-fn webly.user.app.app/webly-run
       :exec-args {:profile "ci"
                   :config "demo.edn"}}


  :tailwind-girouette-webly
  {:exec-fn webly.user.tailwind.generator/generate-tailwind-webly}

  :tailwind-girouette-usage
  {:ns-default girouette.processor
   :exec-fn process
   :exec-args {:source-paths ["src"]
               :css {;:output-file "target/webly/public/girouette.edn"
                     ;:output-format :css-classes
                     :output-file "target/webly/public/girouette.css"}
               :garden-fn webly.user.tailwind.grammar/class-name->garden
               :apply-classes webly.user.tailwind.css/composed-classes
               :watch? false}}

  :tailwind-girouette-list
  {:ns-default girouette.processor
   :exec-fn process
   :exec-args {:source-paths ["src"]
               :css {:output-file "target/webly/public/girouette.edn"
                     :output-format :css-classes}
               :garden-fn webly.user.tailwind.grammar/class-name->garden
               :apply-classes webly.user.tailwind.css/composed-classes
               :watch? false}}


  :webly-demo-watch {:exec-fn webly.user.app.app/webly-run
                     :exec-args {:profile "watch"
                                 :config "demo.edn"}}

  :webly-demo-watch2  {:exec-fn webly.user.app.app/webly-run
                       :exec-args {:profile "watch2"  ;watch2 - 10x disabled
                                   :config "demo.edn"}}

  :webly-demo-compile {:exec-fn webly.user.app.app/webly-run
                       :exec-args {:profile "release"
                                   :config "demo.edn"}}

  :webly-demo-jetty {:exec-fn webly.user.app.app/webly-run
                     :exec-args {:profile "jetty"
                                 :config "demo.edn"}}

  ;
  }}