{:paths ["src"
         "target/node_modules"  ; css png resources from npm modules (tailwind)
         "resources"]
 :deps {org.pinkgorilla/webly {:local/root "../webly" :deps/manifest :deps}
        ; lazy ui modules:
        org.pinkgorilla/ui-highcharts {:mvn/version "0.0.27"}
        org.pinkgorilla/ui-vega {:mvn/version "0.0.31"}
        org.pinkgorilla/ui-tailwind {:mvn/version "0.0.5"}
        org.pinkgorilla/oauth2 {:mvn/version "0.0.25"}
        }
 :aliases
 {:test-clj {:extra-paths ["src"
                           "resources"
                           "test"
                           "test/resources"]
             :extra-deps {org.pinkgorilla/ui-repl {:mvn/version "0.0.74"} ; http cors test
                          io.github.cognitect-labs/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha "cc75980b43011773162b485f46f939dc5fba91e4"}
                          ring/ring-mock {:mvn/version "0.4.0"}}
             :main-opts ["-m" "cognitect.test-runner"]
             :exec-fn cognitect.test-runner.api/test}

  ; demo
  ; unit tests use demo profile for resource tests
  ; so the demo serves two purposes
  ; 1. ilustrate links in web-app
  ; 2. run unit tests 

  ; BUILD BUNDLE (then exit)
  :webly {:extra-deps {org.pinkgorilla/ui-repl {:mvn/version "0.1.92"}  ; http cors test
                       }
          :extra-paths ["src" "resources" "test" "test/resources"]
          :exec-fn webly.app.app/webly-build
          :exec-args {:config ["demo.edn"
                               ;"creds-localhost.edn"
                               "/home/florian/repo/myLinux/myvault/trateg/creds.edn"] ; does not get used!
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :gh-release-artifact
  {:extra-deps {io.github.borkdude/gh-release-artifact
                {:git/sha "05f8d8659e6805d513c59447ff41dc8497878462"}}
   :exec-fn borkdude.gh-release-artifact/release-artifact
   :exec-args {:org "borkdude"
               :repo "test-repo"
               :tag "v0.0.15"
               :commit "8495a6b872637ea31879c5d56160b8d8e94c9d1c"
               :file "README.md"
               :sha256 true
               :overwrite true}}

  ; RUN SERVICES (keep running)
  :run {:exec-fn modular.system/start!
        :exec-args {:profile "jetty"
                    :services "demoservices.edn"}}

  :httpkit {:extra-deps {http-kit/http-kit {:mvn/version "2.5.3"}}
            :exec-args {:profile "httpkit"}}
  :jetty {:exec-args {:profile "jetty"}}
  :watch {:exec-args {:profile "watch2"}}

  :demo-build {:extra-deps {org.pinkgorilla/ui-highcharts {:mvn/version "0.0.26"}
                            org.pinkgorilla/ui-vega {:mvn/version "0.0.31"}}
               :exec-fn demo.test/test}

  ;
  }}
