pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/test/creds.edn
.classpath
.project
.settings/*
node_modules
.shadow-cljs
shadow-cljs.edn
.calva
.lsp/
package.json
package-lock.json
/karma.conf.js
.webly
certs
target/
ci/deps.edn
demo-webly/karma.conf.js
\#*\#
creds.edn
creds-wien.edn
creds-localhost.edn
.clj-kondo
*~
\#*\#
.\#*
.~*