{:paths ["script"
         "target/node_modules"]
 :deps {babashka/fs {:mvn/version "0.1.1"}
        ;borkdude/gh-release-artifact
       ; {:git/url "https://github.com/borkdude/gh-release-artifact"
       ;  :sha "2f8898d84126a4e922c490f8614211a8b0cf67cd"}
       ; com.github.liquidz/antq {:mvn/version "RELEASE"}
       ; 
        }

 :tasks {:requires [webly
                    [clojure.edn :as edn]
                    [babashka.fs :as fs]]
         ; dev tools
         lint (webly/clojure "webly" "-M:lint" "src" "../oauth2" "../webserver")
         cljfmt-check (webly/clojure "webly" "-M:cljfmt" "check" "src" "../oauth2" "../webserver")
         cljfmt-fix (webly/clojure "webly" "-M:cljfmt" "fix" "src" "../oauth2" "../webserver")
         deps-tree (webly/clojure "webly" "-X:deps" "tree")
         outdated (webly/clojure "webly" "-M:outdated")
         

         ; build
         clean (do (fs/delete-tree "docs")
                   (webly/clean-project ".")
                   (webly/clean-project "./demo-webly")
                   (webly/clean-project "./demo-repl")
                   (webly/clean-project "./webly")
                   (webly/clean-project "./webserver"))
         tailwind-girouette-usage (webly/clojure "demo-webly" "-X:tailwind-girouette-usage")
         tailwind-girouette-webly (webly/clojure "demo-webly" "-X:tailwind-girouette-webly")
         npm-install (webly/run "demo-webly" "demo-build" :npm-install)
         build-ci (webly/run "demo-webly" "demo-build" :ci)
         copy-resources (shell {:dir "demo-webly"} "../script/copy_res.sh")
         get-fonts  (shell {:dir "demo-webly"} "../script/get-fonts.sh")

         ; CI TESTS **************************************************************************
         test-build {:depends [npm-install
                               build-ci
                               tailwind-girouette-webly
                               copy-resources
                               get-fonts]
                     :task (println "cljs bundle has been built!")}
         test-clj (webly/clojure "demo-webly" "-M:test-clj")
         test-cljs (shell {:dir "demo-webly"} "npm" "test")
         ci-check {:depends [cljfmt-check
                             test-build
                             test-clj
                             test-cljs]
                   :task (println "ci checks are ok!")}
         commit-check {:doc "if this succeeds, then the github ci pipeline will work too."
                       :depends [clean
                                 cljfmt-fix
                                 ci-check]
                       :task (println "all good - you can push to github")}

         ;; JAR ******************************************************************************
         jar {:doc "Builds the jar"
              :task (webly/clojure "demo-webly" "-T:build" "jar")}

         clojars {:doc "Deploys the jar to clojars"
                  :task (webly/clojure "demo-webly" "-T:build" "deploy")}

         tag {:doc "Tags release and pushes tag to Github."
              :task (let [version (-> (slurp "demo-webly/resources/META-INF/pink-gorilla/webly/meta.edn")
                                      edn/read-string
                                      :version)
                          tag (str "v" version)]
                      (shell "git tag" tag)
                      (shell "git push origin" tag))}

         ci-deploy {:doc "Deploys the jar to clojars"
                 ;; ensure sequential order becauce tag reads from info.edn made
                 ;; by build.clj
                    :task (do
                            (run 'jar)
                            (run 'clojars)
                            (run 'tag))}

         jar-extract {:doc "Extracts generated jar (for debugging)"
                      :task (shell {:dir "demo-webly/target"} "fastjar" "xf" "webly-0.4.516.jar")}


         ;; demos **********************************************************************************

         demo-webly {:doc "webly demo with shadow-cljs watch"
                     :task (do  (run 'tailwind-girouette-webly)
                                (webly/run "demo-webly" "demo-webly" "watch2"))}
         demo-webly-tenx {:doc "webly demo with shadow-cljs watch"
                          :task (do  (run 'tailwind-girouette-webly)
                                     (webly/run "demo-webly" "demo-webly" "watch"))}
         demo-compile {:doc "compile webly demo javascript"
                       :task (webly/run "demo-webly" "demo-webly" "release")}
         demo-compile-adv {:doc "compile webly demo javascript (advanced compilation)"
                           :task (webly/run "demo-webly" "demo-webly" "release-adv")}
         
         demo-compile-static {:doc "compile webly demo javascript (advanced compilation)"
                  :task (webly/run "demo-webly" "demo-webly" "static")}

         demo-jetty {:doc "serve compiled webly demo javascript with jetty"
                     :task (webly/run "demo-webly" "demo-webly" "jetty")}


         ;; STATIC WEBSITE BUIld *********************************************************************

         static-copy {:doc "Prepares the static page"
                      :task (do (fs/delete-tree "docs")
                                (fs/create-dirs "docs/r")
                                ;(fs/create-dirs "docs/r/webly")
                                (fs/copy-tree "demo-webly/target/static" "docs" {:replace-existing true})
                                (fs/copy-tree "demo-webly/target/webly/public" "docs/r" {:replace-existing true})
                                (fs/copy-tree "demo-webly/target/node_modules/public" "docs/r" {:replace-existing true})
                                (fs/copy-tree "demo-webly/target/res/public" "docs/r" {:replace-existing true})
                                )}

         ; sources for gihub pages:
         ; 1. npm modules (compiled css)
         ; 2. cljs build (multiple js files)
         ; 3. public resource folder in all included jars
         ; 4. generated static html page + config files

         ci-static-build {:doc "CI Build STATIC (goes to github pages)"
                          :task (do (run 'clean)
                                    (run 'npm-install)
                                    (run 'get-fonts)
                                    (run 'demo-compile-static)
                                    (run 'tailwind-girouette-webly)
                                    (run 'copy-resources)
                                    (run 'static-copy))} 

         ;; SUB MODULES

         devtest-webserver-https (webly/clojure "webserver" "-X:webserver")

         tokens-summary {:doc "token summary"
                         :task (webly/clojure "demo-rest" "-X:tokens-summary")}

         rest-github {:doc "web requests to github"
                     :task (webly/clojure "demo-rest" "-X:rest-github")}
         rest-google (webly/clojure "demo-rest" "-X:rest-google")
         rest-xero (webly/clojure "demo-rest" "-X:rest-xero")


 ;        
         }}
