{:paths ["src"
         "resources"  ; webly resources (svg/img)
         "target/node_modules"  ; css png resources from npm modules (tailwind)
         ]
 :deps {org.clojure/clojure {:mvn/version  "1.10.3"}
        org.clojure/core.async {:mvn/version  "1.3.618"}
        com.taoensso/timbre {:mvn/version "5.1.2"} ; clj/cljs logging
        com.fzakaria/slf4j-timbre {:mvn/version  "0.3.21"} ; slf4j ->timbre adapter (used by jetty)
        ; time
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        com.andrewmcveigh/cljs-time {:mvn/version  "0.5.2"}
        ; encoding
        org.clojure/data.json {:mvn/version "2.3.1"} ; https://github.com/thheller/shadow-cljs/issues/872
        luminus-transit/luminus-transit {:mvn/version  "0.1.2"}
        cheshire/cheshire {:mvn/version "5.10.0"}  ; JSON parsings and pretty printing
        io.replikativ/incognito {:mvn/version "0.2.7"
                                 :exclusions [com.cognitect/fress]} ; fress makes problems
        ; ring + middlewares
        ring/ring-core {:mvn/version "1.9.3"}
        ring/ring-anti-forgery {:mvn/version "1.3.0"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring-defaults {:mvn/version "0.3.3"
                            :exclusions [javax.servlet/servlet-api]}
        ;; {ring.middleware.logger "0.5.0"}
        metosin/muuntaja {:mvn/version "0.6.8"} ; 30x faster than ring-middleware-format
        ring/ring-json {:mvn/version "0.5.1"}
        bk/ring-gzip {:mvn/version "0.3.0"} ; from oz
        luminus/ring-ttl-session {:mvn/version "0.3.3"}
        ring-oauth2/ring-oauth2 {:mvn/version "0.1.5"}
        prone/prone {:mvn/version "2021-04-23"} ; exception middleware
        ring/ring-devel {:mvn/version "1.9.3"} ; reload middleware
        ; routing
        bidi/bidi {:mvn/version "2.1.6"}
        clj-commons/pushy {:mvn/version "0.3.10"}
        com.cemerick/url {:mvn/version "0.1.1"}  ; url query-strings
        ; server side templating
        hiccup/hiccup {:mvn/version "1.0.5"}
        ; frontend
        reagent/reagent {:mvn/version "1.1.0" ;:exclusions [org.clojure/tools.reader]
} ; https://github.com/reagent-project/reagent
        re-frame/re-frame {:mvn/version "1.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.3"} ; needed for re-frame/http-fx
        day8.re-frame/http-fx {:mvn/version "0.2.3"  ; reframe based http requests
                               ;:exclusions [re-frame/re-frame]
} ; a more modern reframe comes from webly
        keybind/keybind {:mvn/version "2.2.0"}
        day8.re-frame/re-frame-10x {:mvn/version  "1.1.8"} ;; https://github.com/day8/re-frame-10x
        day8.re-frame/tracing {:mvn/version  "0.6.2"} ; https://github.com/day8/re-frame-debux
        ;{day8.re-frame/tracing-stubs "0.6.2"}
        ;shadow
        ; shadow-cljs MAY NOT be a dependency in lein deps :tree -> if so, bundler
        ; will fail because shadow contains core.async which is not compatible with 
        ; self hosted clojurescript
        thheller/shadow-cljs {:mvn/version "2.14.5"
                              ;:exclusions [org.clojure/tools.reader] ; outdated
                              }
        ;{thheller/shadow-cljsjs "0.0.21"}  ; already referred to from shadow-cljs
        org.clojure/clojurescript {:mvn/version "1.10.866"}

        resauce/resauce {:mvn/version "0.2.0"} ; resources
        cprop/cprop {:mvn/version "0.1.18"} ; config management https://github.com/tolitius/cprop
        akiroz.re-frame/storage {:mvn/version "0.1.4"} ; localstorage 
        ; supported servers
        ; ; last version with java 9 : 0.14.0
        info.sunng/ring-jetty9-adapter {:mvn/version  "0.15.1"} ; uses jetty 10.0.2
        ;{luminus/ring-undertow-adapter "1.2.0"}
         ;{http-kit "2.5.3"}
        ; websockets
        com.taoensso/encore {:mvn/version  "3.19.0"} ; sente exclude
        com.taoensso/sente {:mvn/version "1.16.2"
                            ;:exclusions [com.taoensso/encore ; outdated
                            ;             org.clojure/core.async]
                            }
        fipp/fipp {:mvn/version "0.6.23"} ; edn pretty printing  
        lambdaisland/deep-diff2 {:mvn/version "2.0.108"} ; differ
        }
 :aliases
 {:garamond
  {:main-opts ["-m" "garamond.main"]
   :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

  ;https://github.com/applied-science/deps-library 1.0.861
  :release {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
            :main-opts ["-m" "applied-science.deps-library"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt     {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
               :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
               :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts ["-m" "clj-kondo.main"
                     "--fail-level" "error"
                     "--lint" "src"]}

  :cloverage {:extra-paths ["test"]
              :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
              :main-opts   ["-m" "cloverage.coverage"
                            "--src-ns-path" "src"
                            "--test-ns-path" "test"]
              :exec-fn     cloverage.coverage/run-project
              :exec-args   {:src-ns-path  ["src"]
                            :test-ns-path ["test"]}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
          :main-opts ["-m" "clj-check.check"]}

  ; demo
  ; unit tests use demo profile for resource tests
  ; so the demo serves two puroses
  ; 1. ilustrate links in web-app
  ; 2. run unit tests 

  :test {:extra-paths ["test"
                       "profiles/demo/resources"
                       "profiles/test/resources"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}
                      ring/ring-mock {:mvn/version "0.4.0"}
                      org.pinkgorilla/ui-repl {:mvn/version "0.0.13"} ; http cors test
                      }
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :webly {:extra-paths ["profiles/demo/src"
                        "profiles/demo/resources"]
          :extra-deps  {org.pinkgorilla/ui-repl {:mvn/version "0.0.13"}} ; http cors test
          :exec-fn webly.user.app.app/webly-run
          :exec-args {:profile "watch2"  ;watch2 - 10x disabled
                      :config "demo.edn"}}

  :ci {:extra-paths ["test"
                     "profiles/demo/src"
                     "profiles/demo/resources"
                     "profiles/test/resources"]
       :extra-deps  {org.pinkgorilla/ui-repl {:mvn/version "0.0.13"}} ; http cors test
       :exec-fn webly.user.app.app/webly-run
       :exec-args {:profile "ci"
                   :config "demo.edn"}}

;
  }}

