{:lein   {:profile "+dev"}

 ; shadow dev http server settings
 :dev-http {8019 {:handler demo.app/handler}}

 :builds {:demo {:target :browser
                 :output-dir "target/demo/public"
                 :asset-path "/public"
                 :modules {:main {:entries [demo.app]}}
                 :devtools {:before-load demo.app/stop
                            :after-load demo.app/start}
                 :compiler-options {;; preferrably implicit by shadow-cljs compile/watch/release
                                                        ;; Beware: releasing :none not supported by shadow
                                                        ;; :optimizations   :none
                                    :optimizations   :simple
                                   ;:optimizations  :none
                                    }}
          :ci {:target :karma
               :output-to  "target/ci.js"
               :ns-regexp "-test$"}}}

