{:lein   {:profile "+demo"}

 ; shadow dev http server settings
 :dev-http {8019  {:roots
                   [;"target/node_modules/public"  ;  css and png from selected npm dependencies
                    "target/demo" ; demo ui bundle
                    "profiles/demo/public" ; demo ui resources (html, data files)
                  ;"resources/public"; resources we ship without npm
                    "classpath:public" ; resources from jars (gorilla-ui) 
                  ;"classpath:resources"
                  ;"classpath:resources/public"
                    "node_modules" ; dev only npm dependencies (tailwind)
                    ]
                   :handler demo.app/handler}}

 :builds {:demo {:target :browser
                 :output-dir "target/demo/public"
                 :asset-path "/public"
                 :modules {:main {:entries [demo.app]}}
                 :devtools {:before-load demo.app/stop
                            :after-load demo.app/start}
                 :compiler-options {;; preferrably implicit by shadow-cljs compile/watch/release
                                                        ;; Beware: releasing :none not supported by shadow
                                                        ;; :optimizations   :none
                                    :optimizations   :simple
                                   ;:optimizations  :none
                                    }}
          :ci {:target :karma
               :output-to  "target/ci.js"
               :ns-regexp "-test$"}}}

