;; Copy to creds.edn and set your private values.
{:oauth2 {:github {:client-id        ""
                   :client-secret    ""}
          :google {:clientId ""
                   :clientSecret ""}}
 :google-analytics {:enabled true
                    :id ""
                    :debug? true}}