;; Copy to creds.edn and set your private values.
{:oauth2 {:google {:client-id ""
                   :client-secret ""}
          :github {:client-id        ""
                   :client-secret    ""}
          :xero   {:client-id        ""
                   :client-secret    ""}
          }}

; google credentials
; https://console.developers.google.com/apis
; create app of type WEB APP
; app url is: http://localhost:8000
; callback url is: http://localhost:8000/oauth2/redirect/google
; https://console.cloud.google.com/apis/credentials/oauthclient


; github
; https://github.com/settings/developers
; homepage url: http://localhost:8000/
; callback url is: http://localhost:8000/oauth2/redirect/github  
; note: github oauth2 auth-token endpoint has cors issue. therefore ring handler with auth endpoint exists
;       therefore the github redirect url has a different format to the other providers
; list your github oauth apps: https://github.com/settings/applications/


; xero

; https://developer.xero.com/app/manage
; pick oauth2 - webapp
; homepage url: https://localhost:8000/
; redirect url is: http://localhost:8000/oauth2/redirect/xero
; https://xeroapi.github.io/xero-node/accounting/index.html
; https://github.com/XeroAPI/xero-node/blob/master/src/gen/api/accountingApi.ts
