{:webly {; routes
         ; routes can be a map or a symbol.
         ; if you do lots of merging of routes, you might prefer a symbol
         :routes demo.routes/routes
         :routes2 {:api {"time"   {:get :api/time}
                        "timejava"   {:get :api/time-java}
                        "biditest"   {:get :api/bidi-test}
                        "test"   {:get :api/test
                                  :post :api/test  ; used in unit-test
                                  }
                        "snippet"   {:get :api/snippet}}
                  :app {""        :demo/main
                        "help"    :demo/help
                        "prose"   :demo/prose
                        ["party/" :location] :demo/party
                        "job"     #bidi.bidi.TaggedMatch{:matched  :demo/job :tag :wunderbar}
                        "job2"    #bidi.bidi.TaggedMatch{:matched :demo/job :tag {:flags 3 :context :wunderbar}}
                        "save"    :demo/save-non-existing ; there is no handler defined for this on purpose
                        }}
         ; clj
         :ns-clj [demo.routes
                  demo.handler
                  demo.time]
         :start-service demo.time/start-time-sender!
         ; cljs
         :ns-cljs [demo.pages.main
                   demo.pages.help
                   demo.pages.party
                   demo.pages.job
                   demo.time
                   demo.events]
         :title "Webly Demo"
         :start-user-app [:demo/start]}

 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.

 :timbre-loglevel [[#{"org.eclipse.jetty.*"} :info]
                   [#{"webly.ws.*"} :info]
                   [#{"webly.user.*"} :info]
                   [#{"webly.*"} :info]
                   [#{"*"} :info]]

 :settings {:use-localstorage  true  ; allow user to change settings via localstorage
            :bongo 777}

 ;
 }