{:webly {; routes
         ; routes can be a map or a symbol.
         ; if you do lots of merging of routes, you might prefer a symbol
         :routes demo.routes/routes
         ; cljs
         :ns-cljs [demo.app
                   modular.oauth2 ; todo: remove once oauth2 goldly plugin works
                   ]
         :modules {:snippets [snippets.snip]
                   :hello [snippets.hello
                           snippets.bye]}
         :module-loader-init true
         :title "Webly Demo"
         :start-user-app [:demo/start]
         :theme {:available {:emoji {true ["@icon/fontisto-emoji/fontisto-emoji.css"]
                                     false []}
                             :tailwind {"light" ["tailwindcss/dist/tailwind.min.css"]
                                        "dark"  ["tailwindcss/dist/tailwind-dark.min.css"]}
                             :webly-dialog {true ["webly/dialog.css"]
                                            false []}
                             }
                 :current {:emoji    false
                           :tailwind "light"
                           :webly-dialog true
                           }}}

 :static-main-path "/webly" ; for static-page build (github pages)

 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.

 :timbre/cljs {:min-level [[#{"org.eclipse.jetty.*"} :info]
                           [#{"modular.ws.*"} :info]
                           [#{"webly.user.*"} :info]
                           [#{"webly.*"} :info]
                           [#{"*"} :debug]]}

 :timbre/clj {:min-level [[#{"org.eclipse.jetty.*"} :warn]
                          [#{"modular.oauth2.token.refresh"} :warn]
                          [#{"*"} :info]]
              :appenders {:default {:type :console-color}
                          :file {:type :file
                                 :fname "target/file.log"}
                          :rolling {:type :file-rolling
                                    :path "target/rolling.log"
                                    :pattern :monthly}
                          :workflow {:type :file-rolling-context
                                     :context :scheduled-data-import
                                     :path "target/workflow.log"
                                     :pattern :monthly}}}

 :settings {:use-localstorage  true  ; allow user to change settings via localstorage
            :bongo 777}

 :keybindings  [; https://github.com/piranha/keybind
                ; shift, ctrl, alt, win, cmd, defmod, "left" "right"
                ; "meta-shift-l" "alt-shift-p" "ctrl-shift-left" "ctrl-shift-right"
                {:kb "esc"     :handler [:modal/close]            :desc "Dialog Close"} ; for ALL dialogs!
                {:kb "alt-g t" :handler [:reframe10x-toggle] :desc "10x visibility toggle"}

                {:kb "alt-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
                {:kb "ctrl-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
                {:kb "win-g k" :handler [:palette/show]           :desc "Keybindings dialog"}

                {:kb "alt-g 1" :handler [:bidi/goto :demo/main] :desc "goto main"}
                {:kb "alt-g 2" :handler [:bidi/goto :demo/party :location "Vienna"] :desc "goto party vienna"}
                {:kb "alt-g 3" :handler [:bidi/goto :demo/help] :desc "goto help"}
                {:kb "alt-g 4" :handler [:bidi/goto :demo/job] :desc "goto job"}
                {:kb "alt-g 5" :handler [:bidi/goto :demo/party :location "Bali" :query-params {:expected-guests 299}] :desc "goto party bali"}
                {:kb "alt-y l" :handler [:login/dialog] :desc "login"}
                {:kb "ctrl-y l" :handler [:login/dialog] :desc "login"}
                {:kb "win-y l" :handler [:login/dialog] :desc "login"}
                {:kb "win-z l" :handler [:login/dialog] :desc "login"}]


 :permission {:default nil
              :service {:time/now nil ; no permission needed for this.
                        :time/now-date #{} ; only logged in users can access this service
                        :time/now-date-local #{:supervisor}
                        :demo/connected nil
                        }}

 :users {:demo {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}
         :boss {:roles #{:logistic :supervisor :accounting}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["boss@doe.com"]}
         
         :florian {:roles #{:logistic}
                   :password "a231498f6c1f441aa98482ea0b224ffa" ; 1234
                   :email ["hoertlehner@gmail.com"]}
         :john {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}}
  
 :ns-clj [demo.time
          demo.routes
          demo.handler2
          demo.app
          ]

 :runner webly.app.app/webly-runner
;                
 }
