{:components
 {:config {:start (modular.config/load-config! ["webly/config.edn" "demo.edn" "creds-localhost.edn"])}

  :ns-require {:start (modular.require/require-namespaces
                       (:ns-clj (deref (clip/ref :config))))}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (deref (clip/ref :config))))}

  :webly {:start (webly.app.app/start-webly
                  (deref (clip/ref :config))
                  #profile {:default "watch2"
                            :watch "watch"
                            :watch2 "watch2"
                            :compile "compile"
                            :release "release"
                            :release-adv "release-adv"
                            :npm-install "npm-install"
                            :ci "ci"
                            :jetty "jetty"})}

  }}