{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  ;org.clojure/core.async {:mvn/version "1.3.618"}
  reagent/reagent {:mvn/version "1.1.1"} ; https://github.com/reagent-project/reagent
  re-frame/re-frame {:mvn/version "1.2.0"}
  com.cemerick/url {:mvn/version "0.1.1"}  ; url query-strings
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"} ; needed for re-frame/http-fx
  day8.re-frame/http-fx {:mvn/version "0.2.3"}  ; reframe based http requests

  nano-id/nano-id {:mvn/version "1.0.0"} ; nano id

  ;simplevalue/letsencrypt {:git/url "https://github.com/SimpleValue/sv.letsencrypt.git"
  ;                         :sha "8b1a85846acaaa37a58b054f2372d8fde0663b75"}
  
  buddy/buddy-core {:mvn/version "1.10.1"}
  buddy/buddy-sign {:mvn/version "3.4.1"}
  buddy/buddy-auth {:mvn/version "3.0.1"}

  ; 2022 04 29: this repo has disappeared
  ;no.nsd/clj-jwt {:git/url "https://gitlab.nsd.no/clojure/clj-jwt.git", :git/sha "bc23acb3c7cbf0d2def2d395c3e3d9c405be28d5"
  ;                ;:mvn/version "0.4.5"
  ;                } ; https://gitlab.nsd.no/clojure/clj-jwt - verify signed oidc token with public keys

  clj-jwt/clj-jwt {:mvn/version "0.1.1"}; https://github.com/liquidz/clj-jwt

  ring-oauth2/ring-oauth2 {:mvn/version "0.1.5"}

  com.github.oliyh/martian {:mvn/version "0.1.20"}
  com.github.oliyh/martian-clj-http {:mvn/version "0.1.20"}

  com.draines/postal {:mvn/version "2.0.5"} ; smtp email
  telegrambot-lib/telegrambot-lib {:mvn/version "1.5.0"
                                   :exclusions [ch.qos.logback/logback-classic]
                                   } ; telegram

  org.pinkgorilla/modular {:mvn/version "0.0.25"}
  modular/frontend {:local/root "../frontend" :deps/manifest :deps}
  modular/websocket {:local/root "../websocket" :deps/manifest :deps}
  }


 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}
                       ;cider/nrepl {:mvn/version "0.3.0"}
                       
                       }
          :main-opts  ["-m" "nrepl.cmdline"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}




;
  }}


