{

 :timbre-loglevel [[#{"org.eclipse.jetty.*"} :info]
                   [#{"modular.ws.*"} :info]
                   [#{"webly.user.*"} :info]
                   [#{"webly.*"} :info]
                   [#{"*"} :info]]

 :oauth2 {:token-path "../demo-webly/.webly/tokenstore/"}



}