{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  clj-http/clj-http {:mvn/version "3.12.1"}
  commons-codec/commons-codec {:mvn/version "1.15"}
  uri/uri {:mvn/version "1.1.0"}
  clj-jwt/clj-jwt {:mvn/version "0.1.1"}

  com.auth0/java-jwt {:mvn/version "3.12.0"}
  com.auth0/jwks-rsa {:mvn/version  "0.15.0"}

  org.pinkgorilla/modular {:mvn/version "0.0.12"} ; persistence
  org.pinkgorilla/modular-oauth2 {:local/root "../oauth2" :deps/manifest :deps}}

 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
             :main-opts ["-m" "antq.core"]}

  :nrepl {:extra-deps {nrepl/nrepl  {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version,"0.27.2"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :web-requests-xero {:exec-fn demo/make-web-requests
                      :exec-args {:provider :xero}}

  :web-requests-github {:exec-fn demo/make-web-requests
                        :exec-args {:provider :github}}

  :web-requests-google {:exec-fn demo/make-web-requests
                        :exec-args {:provider :google}}

  :jwt {:exec-fn  demo/jwt}
  :show-token {:exec-fn  demo/show-token}
  :validate-token {:exec-fn  demo/validate}



;
  }}