{:paths ["src"
         "resources"  ; webly resources (svg/img)
         ]
 :deps {org.clojure/clojure {:mvn/version  "1.11.1"}
        org.clojure/core.async {:mvn/version  "1.6.673"}
        com.rpl/specter {:mvn/version "1.1.4"}
        ; logging
        ;org.slf4j/slf4j-api {:mvn/version "2.0.0-alpha1"}
        ;org.fzakaria/slf4j-timbre {:git/url "https://github.com/SimpleValue/slf4j-timbre"
        ;                           :sha "dc33c3a44069186496d119b8c63634e846bfd935"}
        ;org.slf4j/slf4j-nop {:mvn/version "2.0.0-alpha1"} ; the nop logger needs to have the same version as jetty. 
        ;com.fzakaria/slf4j-timbre {:mvn/version  "0.3.21"} ; slf4j ->timbre adapter (used by jetty) slf4j-timbre is incmpatibe with slf4j-api 2.0.0 that comes with jetty

        ;; {ring.middleware.logger "0.5.0"}

        ;; old
        luminus/ring-ttl-session {:mvn/version "0.3.3"}

        ; webly/core
        ; shadow-cljs
        ; shadow-cljs MAY NOT be a dependency in lein deps :tree -> if so, bundler
        ; will fail because shadow contains core.async which is not compatible with 
        ; self hosted clojurescript
        thheller/shadow-cljs {:mvn/version "2.24.1"} ; 2.17.4
                              ;:exclusions [org.clojure/tools.reader] ; outdated
        ;{thheller/shadow-cljsjs "0.0.21"}  ; already referred to from shadow-cljs
        ;org.clojure/clojurescript {:mvn/version "1.10.879"} ; already referred from shadow-cljs

        luminus/ring-undertow-adapter {:mvn/version "1.3.1"}
        ; modular
        org.pinkgorilla/extension {:mvn/version "0.0.11"}
        org.pinkgorilla/webserver {:mvn/version "0.0.12"} ; brings modular
        org.pinkgorilla/websocket {:mvn/version "0.0.9"}
        modular/frontend {:local/root "../frontend" :deps/manifest :deps}
        org.pinkgorilla/spa {:local/root "../spa" :deps/manifest :deps}
        org.pinkgorilla/permission {:mvn/version "0.0.15"}}
 :aliases
 {; https://github.com/weavejester/cljfmt
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"
                        ; "fix"  "check"
                       ]}

  ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
         :main-opts ["-m" "clj-kondo.main"
                     "--fail-level" "error"
                     "--config" "cljkondo.edn"
                     "--lint"]}

  :cloverage {:extra-paths ["test"]
              :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
              :main-opts   ["-m" "cloverage.coverage"
                            "--src-ns-path" "src"
                            "--test-ns-path" "test"]
              :exec-fn     cloverage.coverage/run-project
              :exec-args   {:src-ns-path  ["src"]
                            :test-ns-path ["test"]}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1095"}}
             :main-opts ["-m" "antq.core"]}

  :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
          :main-opts ["-m" "clj-check.check"]}

 ; tree and list are here just because tools.deps.alpha does not work on my machine
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                 io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                  ;rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}


;
  }}

