{:paths ["src"
         "resources"  ; webly resources (svg/img)
         ]
 :deps {org.clojure/clojure {:mvn/version  "1.11.1"}
        org.clojure/core.async {:mvn/version  "1.6.673"}

        ; logging
        ;org.slf4j/slf4j-api {:mvn/version "2.0.0-alpha1"}
        ;org.fzakaria/slf4j-timbre {:git/url "https://github.com/SimpleValue/slf4j-timbre"
        ;                           :sha "dc33c3a44069186496d119b8c63634e846bfd935"}
        ;org.slf4j/slf4j-nop {:mvn/version "2.0.0-alpha1"} ; the nop logger needs to have the same version as jetty. 
        ;com.fzakaria/slf4j-timbre {:mvn/version  "0.3.21"} ; slf4j ->timbre adapter (used by jetty) slf4j-timbre is incmpatibe with slf4j-api 2.0.0 that comes with jetty

        ;; {ring.middleware.logger "0.5.0"}

        ;; old
        luminus/ring-ttl-session {:mvn/version "0.3.3"}

        ; webly/core
        
        reagent/reagent {:mvn/version "1.1.1"} ; https://github.com/reagent-project/reagent
        re-frame/re-frame {:mvn/version "1.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"} ; needed for re-frame/http-fx
        day8.re-frame/http-fx {:mvn/version "0.2.3"}  ; reframe based http requests
        day8.re-frame/re-frame-10x {:mvn/version  "1.1.12"} ;; https://github.com/day8/re-frame-10x
        ;day8.re-frame/tracing {:mvn/version  "0.6.2"} ; https://github.com/day8/re-frame-debux
        ;{day8.re-frame/tracing-stubs "0.6.2"}

        ; shadow-cljs
        ; shadow-cljs MAY NOT be a dependency in lein deps :tree -> if so, bundler
        ; will fail because shadow contains core.async which is not compatible with 
        ; self hosted clojurescript
        thheller/shadow-cljs {:mvn/version "2.24.1"} ; 2.17.4
                              ;:exclusions [org.clojure/tools.reader] ; outdated
        ;{thheller/shadow-cljsjs "0.0.21"}  ; already referred to from shadow-cljs
        ;org.clojure/clojurescript {:mvn/version "1.10.879"} ; already referred from shadow-cljs
        
        luminus/ring-undertow-adapter {:mvn/version "1.3.1"}
        ; modular
        org.pinkgorilla/webserver {:mvn/version "0.0.9"} ; brings modular
        org.pinkgorilla/websocket {:mvn/version "0.0.9"}
        modular/frontend {:local/root "../frontend" :deps/manifest :deps}
        org.pinkgorilla/permission {:mvn/version "0.0.13"}
        ;modular/rest {:local/root "../rest" :deps/manifest :deps}
        org.pinkgorilla/ui-tailwind {:mvn/version "0.0.5"}
        }
 :aliases
 {; https://github.com/weavejester/cljfmt
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"
                       ; "fix"  "check"
                       ]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts ["-m" "clj-kondo.main"
                     "--fail-level" "error"
                     "--config" "cljkondo.edn"
                     "--lint"]}

  :cloverage {:extra-paths ["test"]
              :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
              :main-opts   ["-m" "cloverage.coverage"
                            "--src-ns-path" "src"
                            "--test-ns-path" "test"]
              :exec-fn     cloverage.coverage/run-project
              :exec-args   {:src-ns-path  ["src"]
                            :test-ns-path ["test"]}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1095"}}
             :main-opts ["-m" "antq.core"]}

  :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
          :main-opts ["-m" "clj-check.check"]}

 ; tree and list are here just because tools.deps.alpha does not work on my machine
  :tree {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/tree}
  :list {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/list}


;
  }}

