{:name "demo-webly"
 :lazy-sci false
 :cljs-namespace [demo.pages.main
                  demo.pages.help
                  demo.pages.party
                  demo.pages.job
                  demo.time
                  demo.events]}