{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.10.3"}
  ; encoding
        luminus-transit/luminus-transit {:mvn/version  "0.1.2"}
        org.clojure/data.json {:mvn/version "2.4.0"} ; https://github.com/thheller/shadow-cljs/issues/872
  ; ring middleware
        bidi/bidi {:mvn/version "2.1.6"}
        ring/ring-core {:mvn/version "1.9.4"}
        ring/ring-devel {:mvn/version "1.9.4"} ; reload middleware - same version as rig/core
        bk/ring-gzip {:mvn/version "0.3.0"} ; from oz
       
        metosin/muuntaja {:mvn/version "0.6.8"} ; 30x faster than ring-middleware-format
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring-defaults {:mvn/version "0.3.3"
                            :exclusions [javax.servlet/servlet-api]}
        prone/prone {:mvn/version "2021-04-23"} ; exception middleware
        ring/ring-json {:mvn/version "0.5.1"}
  ; https
  ;org.shredzone.acme4j/acme4j-client {:mvn/version "2.7"}
  ;org.shredzone.acme4j/acme4j-utils {:mvn/version "2.7"}
  ;org.bouncycastle/bcprov-jdk15on {:mvn/version "1.69"}
  ;org.bouncycastle/bcpkix-fips {:mvn/version "1.0.3"}
  ;simplevalue/letsencrypt {:git/url "https://github.com/SimpleValue/sv.letsencrypt.git"
  ;                         :sha "8b1a85846acaaa37a58b054f2372d8fde0663b75"}
  ; webserver
        info.sunng/ring-jetty9-adapter {:mvn/version  "0.15.2"} ; uses jetty 10.0.2, vlast version with java 9 : 0.14.0
  ; modular
        org.pinkgorilla/modular {:mvn/version "0.0.16"} ; persistence
        }



 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
             :main-opts ["-m" "antq.core"]}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :nrepl {:extra-deps {nrepl/nrepl  {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version,"0.27.2"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :webserver {:extra-paths ["src-demo"]
              :exec-fn  demo.https/run-webserver}

  ; requires java/bouncycastle to be installed.
  ; guix has the package: java-bouncycastle
  ; :get-certificates {:exec-fn  demo.https/get-certificates}


;
  }}


