{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  clj-http/clj-http {:mvn/version "3.12.1"}
  commons-codec/commons-codec {:mvn/version "1.15"}
  uri/uri {:mvn/version "1.1.0"}
  org.pinkgorilla/modular {:mvn/version "0.0.22"}
  org.pinkgorilla/modular-oauth2 {:local/root "../oauth2" :deps/manifest :deps}}

 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
             :main-opts ["-m" "antq.core"]}

  :nrepl {:extra-deps {nrepl/nrepl  {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version,"0.27.2"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

   ; debugging

  :token-info-xero {:exec-fn demo/token-info
                    :exec-args {:provider :xero}}

  :token-info-google {:exec-fn demo/token-info
                      :exec-args {:provider :google}}

  :token-info-github {:exec-fn demo/token-info
                      :exec-args {:provider :github}}
  ; rest

  :tokens-summary {:exec-fn demo/tokens-summary
                   :exec-args {:providers [:xero :github :google
                                          ; :wonderland ; to test non existent tokens
                                          ]}}

  :rest-xero {:exec-fn demo/make-requests
                      :exec-args {:provider :xero}}

  :rest-github {:exec-fn demo/make-requests
                        :exec-args {:provider :github}}

  :rest-google {:exec-fn demo/make-requests
                :exec-args {:provider :google}}

  :rest-email {:exec-fn demo/make-requests
                :exec-args {:provider :email}}
  
  :rest-telegram {:exec-fn demo/make-requests
                  :exec-args {:provider :telegram}}

;
  }}