{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  org.pinkgorilla/modular {:mvn/version "0.0.7"} ; persistence

  ; websockets
  com.taoensso/encore {:mvn/version  "3.19.0"} ; sente brings an older version
  com.taoensso/sente {:mvn/version "1.16.2"}
  }


 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
             :main-opts ["-m" "antq.core"]}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :nrepl {:extra-deps {nrepl/nrepl  {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version,"0.27.2"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :webserver {:exec-fn  demo.https/run-webserver}

  ; requires java/bouncycastle to be installed.
  ; guix has the package: java-bouncycastle
  :get-certificates {:exec-fn  demo.https/get-certificates}


;
  }}


