{:name "demo-webly"
 :lazy true
 :depends-on #{:ui-repl}
 :cljs-namespace [demo.page.main
                  demo.page.help
                  demo.page.party
                  demo.page.job
                  demo.events
                  demo.service]
 :cljs-ns-bindings {'demo.page.main {'main-page demo.page.main/main-page}
                    'demo.page.job {'job-page demo.page.job/job-page}
                    'demo.page.help {'help-page demo.page.help/help-page}
                    'demo.page.party {'party-page demo.page.party/party-page}
                    'demo.service {'start demo.service/start}}
 ; runtime
 :web/routes [["/api/snippet" {:get demo.handler/snippet-handler-wrapped}]
              ["/api/bindata" {:get demo.handler.binary/binary-handler}]
              ["/api/timejava" {:get demo.handler/time-java-handler-wrapped}]
              ["/api/biditest" {:get demo.handler/bidi-test-handler-wrapped}]
              ["/api/test" {:get demo.handler.test/test-handler
                            :post demo.handler.test/test-handler  ; used in unit-test
                            }]
              ["/api/time" {:get demo.handler/time-handler
                            ;:middleware [webserver.middleware.ctx/ctx-middleware]
                            ;:services #{:sente}
                            }
               ]]
 
 :cljs-routes {""       demo.page.main/main-page
               "help"    demo.page.help/help-page
               ["party/" :location]  demo.page.party/party-page
               "job"     demo.page.job/job-page ;(bidi/tag :demo/job :wunderbar)
               "job2"    demo.page.job/job-page ;  (bidi/tag :demo/job {:flags 3 :context :wunderbar})
               "save"    demo.page.unknown/unknown-page ; there is no handler defined for this on purpose
               }

 :cljs-service {:start-fn demo.service/start}

 :theme {:available {:emoji {true ["@icon/fontisto-emoji/fontisto-emoji.css"]
                             false []}}
         :current {:emoji    false}}



 ;
 }