{:name "hello"
 :lazy true
 :depends-on #{:snippets}
 :cljs-namespace [snippets.hello
                  snippets.bye]
 :cljs-ns-bindings {'snippets.hello {'hello snippets.hello/hello
                                     'start snippets.hello/start}}
 :cljs-service {:start-fn snippets.hello/start}}