{:shadow {:dev-http {:port 8000}
          :http {:port 8001 :host "0.0.0.0"}; "localhost"}
          :nrepl {:port 8002}}
 :webly {; user app
         :title "webly"
         :spinner "webly/loading.svg"
         :icon "webly/icon/pinkgorilla32.png" ; "webly/icon/silver.ico"  ; gorilla is much smaller than silver
         :loading-image-url "webly/loadimage/library.jpg" ; 
         :start-user-app [:webly/start-default]  ; after config loaded
         :module-loader-init true
         ; theme
         :theme {:available {:webly-dialog {true ["webly/dialog.css"]
                                            false []}}
                 :current {:webly-dialog true}}
         ; cljs
         :ns-cljs []
         :modules {}
         ; clj
         :ring-handler "webly.app.app/ring-handler" ; no need to change 
         ; routes
         :routes {:app {}
                  :api {}}
;
         }

 :prefix "/r/" ; resource route prefix ; most web-apps can leave this at default values


 :webly/web-server {:port 8080
                    :host "0.0.0.0"
                    :ssl-port 8443
                    :keystore "../webserver/certs/keystore.p12"
                    :key-password "password"; Password you gave when creating the keystore
                    :jetty-ws ["/api/chsk"]}

 :google-analytics {:enabled false ; true
                    :id "UA-154548494-1"} ; not a secret 
 
 :timbre/cljs {:min-level [[#{"pinkgorilla.nrepl.client.connection"} :info]
                           [#{"org.eclipse.jetty.*"} :info]
                           [#{"webly.*"} :info]
                           [#{"*"} :info]]}

 :keybindings [; https://github.com/piranha/keybind
               ; shift, ctrl, alt, win, cmd, defmod, "left" "right"
               ; "meta-shift-l" "alt-shift-p" "ctrl-shift-left" "ctrl-shift-right"
               {:kb "alt-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
               {:kb "esc"     :handler [:modal/close]            :desc "Dialog Close"} ; for ALL dialogs!
               {:kb "alt-g t" :handler [:reframe10x-toggle] :desc "10x visibility toggle"}]

 :settings {:use-localstorage  false}


 
 }
