{:webly {; clj
         :ns-clj [webly.user.app.keybindings] ; to resolve keybindings
         :start-service nil

         ; cljs
         :ns-cljs []
         :modules {}

         ; webly client-server app
         :webly-bundle-entry  "webly.user.app.app.start ();" ; no need to change 
         :ring-handler "webly.user.app.app/ring-handler" ; no need to change 
         :loading-image-url "/r/webly/loading-code.jpg" ; no need to change  ;"/r/webly/loading-lemur.jpg"

         ; user app
         :title "webly"
         :icon "/r/webly/favicon.ico"
         :start-user-app [:webly/start-default]  ; after config loaded

         ; routes
         :routes {:app {}
                  :api {}}
         :theme {:available {:webly-dialog {true ["webly/dialog.css"]}
                             :tailwind {"light" ["tailwindcss/dist/tailwind.min.css"]
                                        "dark" ["tailwindcss/dist/tailwind-dark.min.css"]}
                             :fontawesome {true ["@fortawesome/fontawesome-free/css/all.min.css"]}
                             :fonts-google    {true ["fonts-google/fonts.css"]}
                             }
                 :current {:webly-dialog true
                           :tailwind "light" ; true
                           :fontawesome true
                           :fonts-google false
                           }}
;
         }

 :prefix "/r/" ; resource route prefix ; most web-apps can leave this at default values
 :shadow {:dev-http {:port 8000}
          :http {:port 8001 :host "0.0.0.0"}; "localhost"}
          :nrepl {:port 8002}}

 :web-server     {:port 8000
                  :host "0.0.0.0"}
 :web-server-api {:port 8007
                  :host "0.0.0.0"}

 :jetty-ws {"/api/chsk" :ws/chsk-get}

 :google-analytics {:enabled false ; true
                    :id "UA-154548494-1"} ; not a secret 

 ; creds (set them in creds.edn resource)
 :oauth2 {:token-path ".webly/tokenstore/"
          :github {:client-id        ""
                   :client-secret    ""
                   :scopes          ["user:email"
                                     "gist"
                                     "repo"]}
          :google {:client-id        ""
                   :client-secret    ""
                   :scopes          ["https://www.googleapis.com/auth/spreadsheets.readonly"
                                     "https://www.googleapis.com/auth/drive.readonly"
                                     "https://www.googleapis.com/auth/userinfo.email"]}
          :xero {:client-id        ""
                   :client-secret    ""
                   :scopes          ["openid"
                                     "profile"
                                     "email"
                                     "accounting.settings"
                                     "accounting.reports.read"
                                     "accounting.journals.read"
                                     "accounting.contacts"
                                     "accounting.attachments"
                                     "accounting.transactions"
                                     "accounting.transactions.read"
                                     "offline_access"
                                     ]}
          
          }

 :timbre-loglevel [[#{"pinkgorilla.nrepl.client.connection"} :info]
                   [#{"org.eclipse.jetty.*"} :info]
                   [#{"webly.*"} :info]
                   [#{"*"} :info]]

 :keybindings webly.user.app.keybindings/default

 :settings {:use-localstorage  false}}